SCHEMATIC START ;
// created by map version D.19 on Fri Mar 30 16:43:18 2001 
COMP "$Net00039_" LOCATE = SITE "P30" LEVEL 1; 
COMP "$Net00038_" LOCATE = SITE "P59" LEVEL 1; 
COMP "$Net00027_" LOCATE = SITE "P57" LEVEL 1; 
COMP "$Net00026_" LOCATE = SITE "P9" LEVEL 1; 
COMP "$Net00036_" LOCATE = SITE "P67" LEVEL 1; 
COMP "$Net00034_" LOCATE = SITE "P2" LEVEL 1; 
COMP "$Net00032_" LOCATE = SITE "P4" LEVEL 1; 
COMP "$Net00030_" LOCATE = SITE "P6" LEVEL 1; 
COMP "$Net00028_" LOCATE = SITE "P8" LEVEL 1; 
COMP "$Net00024_" LOCATE = SITE "P7" LEVEL 1; 
COMP "$Net00037_" LOCATE = SITE "P28" LEVEL 1; 
COMP "$Net00001_" LOCATE = SITE "P46" LEVEL 1; 
SCHEMATIC END ;
