SCHEMATIC START ;
// created by map version D.19 on Fri Mar 30 13:28:21 2001 
COMP "$Net00065_" LOCATE = SITE "P59" LEVEL 1; 
COMP "$Net00066_" LOCATE = SITE "P57" LEVEL 1; 
COMP "$Net00067_" LOCATE = SITE "P28" LEVEL 1; 
COMP "$Net00074_" LOCATE = SITE "P11" LEVEL 1; 
COMP "$Net00006_" LOCATE = SITE "P6" LEVEL 1; 
COMP "$Net00007_" LOCATE = SITE "P4" LEVEL 1; 
COMP "$Net00011_" LOCATE = SITE "P30" LEVEL 1; 
COMP "$Net00008_" LOCATE = SITE "P2" LEVEL 1; 
COMP "$Net00010_" LOCATE = SITE "P67" LEVEL 1; 
COMP "$Net00009_" LOCATE = SITE "P8" LEVEL 1; 
COMP "$Net00005_" LOCATE = SITE "P9" LEVEL 1; 
COMP "$Net00098_" LOCATE = SITE "P47" LEVEL 1; 
COMP "$Net00092_" LOCATE = SITE "P66" LEVEL 1; 
COMP "$Net00087_" LOCATE = SITE "P68" LEVEL 1; 
COMP "$Net00088_" LOCATE = SITE "P3" LEVEL 1; 
COMP "$Net00089_" LOCATE = SITE "P5" LEVEL 1; 
COMP "$Net00081_" LOCATE = SITE "P61" LEVEL 1; 
COMP "$Net00091_" LOCATE = SITE "P62" LEVEL 1; 
COMP "$Net00090_" LOCATE = SITE "P63" LEVEL 1; 
COMP "$Net00080_" LOCATE = SITE "P64" LEVEL 1; 
COMP "$Net00073_" LOCATE = SITE "P46" LEVEL 1; 
COMP "$Net00075_" LOCATE = SITE "P54" LEVEL 1; 
COMP "$Net00012_" LOCATE = SITE "P50" LEVEL 1; 
COMP "$Net00072_" LOCATE = SITE "P65" LEVEL 1; 
COMP "$Net00004_" LOCATE = SITE "P7" LEVEL 1; 
SCHEMATIC END ;
