SCHEMATIC START ;
// created by map version D.19 on Fri Apr 20 12:58:27 2001 
COMP "$Net00016_" LOCATE = SITE "P7" LEVEL 1; 
COMP "$Net00022_" LOCATE = SITE "P9" LEVEL 1; 
COMP "$Net00023_" LOCATE = SITE "P8" LEVEL 1; 
COMP "$Net00017_" LOCATE = SITE "P6" LEVEL 1; 
COMP "$Net00003_" LOCATE = SITE "P55" LEVEL 1; 
COMP "$Net00009_" LOCATE = SITE "P67" LEVEL 1; 
COMP "$Net00001_" LOCATE = SITE "P58" LEVEL 1; 
COMP "$Net00002_" LOCATE = SITE "P56" LEVEL 1; 
COMP "$Net00008_" LOCATE = SITE "P65" LEVEL 1; 
COMP "$Net00011_" LOCATE = SITE "P4" LEVEL 1; 
COMP "$Net00010_" LOCATE = SITE "P2" LEVEL 1; 
SCHEMATIC END ;
