(edif time_sim
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timestamp 2001 3 23 18 23 18)
      (program "Xilinx NGD2EDIF" (version "D.19"))
      (comment "Command line: -w -v fndtn prova.nga time_sim.edn ")))
  (external SIMPRIMS
    (edifLevel 0)
    (technology (numberDefinition
      (scale 1 (E 1 -12) (unit TIME))))
    (cell x_buf
      (cellType GENERIC)
      (view view_1
        (viewType NETLIST)
        (interface
          (port IN
            (direction INPUT))
          (port OUT
            (direction OUTPUT))
      )))
    (cell x_opad
      (cellType GENERIC)
      (view view_1
        (viewType NETLIST)
        (interface
          (port PAD
            (direction OUTPUT))
      )))
    (cell x_ipad
      (cellType GENERIC)
      (view view_1
        (viewType NETLIST)
        (interface
          (port PAD
            (direction INPUT))
      )))
  )
  (library prova_lib
    (edifLevel 0)
    (technology (numberDefinition
      (scale 1 (E 1 -12) (unit TIME))))
    (cell prova
      (cellType GENERIC)
      (view view_1
        (viewType NETLIST)
        (interface
          (port (rename &_Net00011_ "$Net00011_")
            (direction OUTPUT)
            (designator "30")
            )
          (port (rename &_Net00001_ "$Net00001_")
            (direction INPUT)
            (designator "56")
            )
          (port (rename &_Net00002_ "$Net00002_")
            (direction INPUT)
            (designator "58")
            )
          (port (rename &_Net00007_ "$Net00007_")
            (direction OUTPUT)
            (designator "57")
            )
          (port (rename &_Net00005_ "$Net00005_")
            (direction OUTPUT)
            (designator "59")
            )
          (port (rename &_Net00013_ "$Net00013_")
            (direction INPUT)
            (designator "55")
            )
          (port (rename &_Net00015_ "$Net00015_")
            (direction OUTPUT)
            (designator "28")
            )
          (port (rename &_Net00016_ "$Net00016_")
            (direction INPUT)
            (designator "53")
            )
          (port (rename &_Net00003_ "$Net00003_")
            (direction OUTPUT)
            (designator "27")
            )
          (port (rename &_Net00004_ "$Net00004_")
            (direction INPUT)
            (designator "49")
            )
          (port (rename &_Net00006_ "$Net00006_")
            (direction INPUT)
            (designator "51")
            )
          (port (rename &_Net00008_ "$Net00008_")
            (direction OUTPUT)
            (designator "67")
            )
          (port (rename &_Net00009_ "$Net00009_")
            (direction OUTPUT)
            (designator "65")
            )
          (port (rename &_Net00020_ "$Net00020_")
            (direction INPUT)
            (designator "48")
            )
          (port (rename &_Net00022_ "$Net00022_")
            (direction OUTPUT)
            (designator "2")
            )
          (port (rename &_Net00023_ "$Net00023_")
            (direction INPUT)
            (designator "46")
            )
          (designator "3020apc68-7")
        )
        (contents
          (instance (rename &_I17 "$I17")
            (viewRef view_1 (cellRef x_buf (libraryRef SIMPRIMS)))
            (portInstance IN
              (property RISE (integer 7882)(unit TIME) (owner "Xilinx"))
              (property FALL (integer 7882)(unit TIME) (owner "Xilinx"))
            )
            (portInstance OUT
              (property RISE (integer 16000)(unit TIME) (owner "Xilinx"))
              (property FALL (integer 16000)(unit TIME) (owner "Xilinx"))
            )
          )
          (instance (rename &_I22 "$I22")
            (viewRef view_1 (cellRef x_opad (libraryRef SIMPRIMS)))
          )
          (instance (rename &_I26 "$I26")
            (viewRef view_1 (cellRef x_ipad (libraryRef SIMPRIMS)))
          )
          (instance (rename &_I27 "$I27")
            (viewRef view_1 (cellRef x_buf (libraryRef SIMPRIMS)))
            (portInstance IN
            )
            (portInstance OUT
              (property RISE (integer 4000)(unit TIME) (owner "Xilinx"))
              (property FALL (integer 4000)(unit TIME) (owner "Xilinx"))
            )
          )
          (instance (rename &_I28 "$I28")
            (viewRef view_1 (cellRef x_ipad (libraryRef SIMPRIMS)))
          )
          (instance (rename &_I30 "$I30")
            (viewRef view_1 (cellRef x_buf (libraryRef SIMPRIMS)))
            (portInstance IN
            )
            (portInstance OUT
              (property RISE (integer 4000)(unit TIME) (owner "Xilinx"))
              (property FALL (integer 4000)(unit TIME) (owner "Xilinx"))
            )
          )
          (instance (rename &_I31 "$I31")
            (viewRef view_1 (cellRef x_buf (libraryRef SIMPRIMS)))
            (portInstance IN
              (property RISE (integer 1630)(unit TIME) (owner "Xilinx"))
              (property FALL (integer 1630)(unit TIME) (owner "Xilinx"))
            )
            (portInstance OUT
              (property RISE (integer 16000)(unit TIME) (owner "Xilinx"))
              (property FALL (integer 16000)(unit TIME) (owner "Xilinx"))
            )
          )
          (instance (rename &_I33 "$I33")
            (viewRef view_1 (cellRef x_opad (libraryRef SIMPRIMS)))
          )
          (instance (rename &_I34 "$I34")
            (viewRef view_1 (cellRef x_opad (libraryRef SIMPRIMS)))
          )
          (instance (rename &_I35 "$I35")
            (viewRef view_1 (cellRef x_buf (libraryRef SIMPRIMS)))
            (portInstance IN
              (property RISE (integer 1754)(unit TIME) (owner "Xilinx"))
              (property FALL (integer 1754)(unit TIME) (owner "Xilinx"))
            )
            (portInstance OUT
              (property RISE (integer 16000)(unit TIME) (owner "Xilinx"))
              (property FALL (integer 16000)(unit TIME) (owner "Xilinx"))
            )
          )
          (instance (rename &_I36 "$I36")
            (viewRef view_1 (cellRef x_ipad (libraryRef SIMPRIMS)))
          )
          (instance (rename &_I37 "$I37")
            (viewRef view_1 (cellRef x_buf (libraryRef SIMPRIMS)))
            (portInstance IN
            )
            (portInstance OUT
              (property RISE (integer 4000)(unit TIME) (owner "Xilinx"))
              (property FALL (integer 4000)(unit TIME) (owner "Xilinx"))
            )
          )
          (instance (rename &_I38 "$I38")
            (viewRef view_1 (cellRef x_buf (libraryRef SIMPRIMS)))
            (portInstance IN
              (property RISE (integer 7177)(unit TIME) (owner "Xilinx"))
              (property FALL (integer 7177)(unit TIME) (owner "Xilinx"))
            )
            (portInstance OUT
              (property RISE (integer 16000)(unit TIME) (owner "Xilinx"))
              (property FALL (integer 16000)(unit TIME) (owner "Xilinx"))
            )
          )
          (instance (rename &_I39 "$I39")
            (viewRef view_1 (cellRef x_ipad (libraryRef SIMPRIMS)))
          )
          (instance (rename &_I40 "$I40")
            (viewRef view_1 (cellRef x_opad (libraryRef SIMPRIMS)))
          )
          (instance (rename &_I41 "$I41")
            (viewRef view_1 (cellRef x_buf (libraryRef SIMPRIMS)))
            (portInstance IN
            )
            (portInstance OUT
              (property RISE (integer 4000)(unit TIME) (owner "Xilinx"))
              (property FALL (integer 4000)(unit TIME) (owner "Xilinx"))
            )
          )
          (instance (rename &_I42 "$I42")
            (viewRef view_1 (cellRef x_buf (libraryRef SIMPRIMS)))
            (portInstance IN
              (property RISE (integer 7586)(unit TIME) (owner "Xilinx"))
              (property FALL (integer 7586)(unit TIME) (owner "Xilinx"))
            )
            (portInstance OUT
              (property RISE (integer 16000)(unit TIME) (owner "Xilinx"))
              (property FALL (integer 16000)(unit TIME) (owner "Xilinx"))
            )
          )
          (instance (rename &_I43 "$I43")
            (viewRef view_1 (cellRef x_opad (libraryRef SIMPRIMS)))
          )
          (instance (rename &_I44 "$I44")
            (viewRef view_1 (cellRef x_ipad (libraryRef SIMPRIMS)))
          )
          (instance (rename &_I45 "$I45")
            (viewRef view_1 (cellRef x_buf (libraryRef SIMPRIMS)))
            (portInstance IN
            )
            (portInstance OUT
              (property RISE (integer 4000)(unit TIME) (owner "Xilinx"))
              (property FALL (integer 4000)(unit TIME) (owner "Xilinx"))
            )
          )
          (instance (rename &_I46 "$I46")
            (viewRef view_1 (cellRef x_ipad (libraryRef SIMPRIMS)))
          )
          (instance (rename &_I47 "$I47")
            (viewRef view_1 (cellRef x_buf (libraryRef SIMPRIMS)))
            (portInstance IN
              (property RISE (integer 4271)(unit TIME) (owner "Xilinx"))
              (property FALL (integer 4271)(unit TIME) (owner "Xilinx"))
            )
            (portInstance OUT
              (property RISE (integer 16000)(unit TIME) (owner "Xilinx"))
              (property FALL (integer 16000)(unit TIME) (owner "Xilinx"))
            )
          )
          (instance (rename &_I48 "$I48")
            (viewRef view_1 (cellRef x_buf (libraryRef SIMPRIMS)))
            (portInstance IN
            )
            (portInstance OUT
              (property RISE (integer 4000)(unit TIME) (owner "Xilinx"))
              (property FALL (integer 4000)(unit TIME) (owner "Xilinx"))
            )
          )
          (instance (rename &_I49 "$I49")
            (viewRef view_1 (cellRef x_buf (libraryRef SIMPRIMS)))
            (portInstance IN
              (property RISE (integer 5129)(unit TIME) (owner "Xilinx"))
              (property FALL (integer 5129)(unit TIME) (owner "Xilinx"))
            )
            (portInstance OUT
              (property RISE (integer 16000)(unit TIME) (owner "Xilinx"))
              (property FALL (integer 16000)(unit TIME) (owner "Xilinx"))
            )
          )
          (instance (rename &_I50 "$I50")
            (viewRef view_1 (cellRef x_ipad (libraryRef SIMPRIMS)))
          )
          (instance (rename &_I51 "$I51")
            (viewRef view_1 (cellRef x_opad (libraryRef SIMPRIMS)))
          )
          (instance (rename &_I52 "$I52")
            (viewRef view_1 (cellRef x_opad (libraryRef SIMPRIMS)))
          )
          (instance (rename &_I53 "$I53")
            (viewRef view_1 (cellRef x_buf (libraryRef SIMPRIMS)))
            (portInstance IN
            )
            (portInstance OUT
              (property RISE (integer 4000)(unit TIME) (owner "Xilinx"))
              (property FALL (integer 4000)(unit TIME) (owner "Xilinx"))
            )
          )
          (instance (rename &_I54 "$I54")
            (viewRef view_1 (cellRef x_buf (libraryRef SIMPRIMS)))
            (portInstance IN
              (property RISE (integer 8957)(unit TIME) (owner "Xilinx"))
              (property FALL (integer 8957)(unit TIME) (owner "Xilinx"))
            )
            (portInstance OUT
              (property RISE (integer 16000)(unit TIME) (owner "Xilinx"))
              (property FALL (integer 16000)(unit TIME) (owner "Xilinx"))
            )
          )
          (instance (rename &_I55 "$I55")
            (viewRef view_1 (cellRef x_ipad (libraryRef SIMPRIMS)))
          )
          (instance (rename &_I56 "$I56")
            (viewRef view_1 (cellRef x_opad (libraryRef SIMPRIMS)))
          )
          (instance (rename &_I57 "$I57")
            (viewRef view_1 (cellRef x_buf (libraryRef SIMPRIMS)))
            (portInstance IN
            )
            (portInstance OUT
              (property RISE (integer 4000)(unit TIME) (owner "Xilinx"))
              (property FALL (integer 4000)(unit TIME) (owner "Xilinx"))
            )
          )
          (instance (rename GR_PAD "GR.PAD")
            (viewRef view_1 (cellRef x_ipad (libraryRef SIMPRIMS)))
          )
          (net (rename &_Net00011_ "$Net00011_")
            (joined
              (portRef OUT (instanceRef &_I17))
              (portRef PAD (instanceRef &_I22))
              (portRef &_Net00011_)
            )
          )
          (net (rename &_Net00001_ "$Net00001_")
            (joined
              (portRef PAD (instanceRef &_I26))
              (portRef IN (instanceRef &_I27))
              (portRef &_Net00001_)
            )
          )
          (net (rename &_Net00002_ "$Net00002_")
            (joined
              (portRef PAD (instanceRef &_I28))
              (portRef IN (instanceRef &_I30))
              (portRef &_Net00002_)
            )
          )
          (net (rename &_Net00007_ "$Net00007_")
            (joined
              (portRef OUT (instanceRef &_I31))
              (portRef PAD (instanceRef &_I33))
              (portRef &_Net00007_)
            )
          )
          (net (rename &_Net00005_ "$Net00005_")
            (joined
              (portRef PAD (instanceRef &_I34))
              (portRef OUT (instanceRef &_I35))
              (portRef &_Net00005_)
            )
          )
          (net (rename &_Net00012_ "$Net00012_")
            (joined
              (portRef OUT (instanceRef &_I27))
              (portRef IN (instanceRef &_I35))
            )
          )
          (net (rename &_Net00010_ "$Net00010_")
            (joined
              (portRef IN (instanceRef &_I17))
              (portRef OUT (instanceRef &_I30))
            )
          )
          (net (rename &_Net00013_ "$Net00013_")
            (joined
              (portRef PAD (instanceRef &_I36))
              (portRef IN (instanceRef &_I37))
              (portRef &_Net00013_)
            )
          )
          (net (rename &_Net00014_ "$Net00014_")
            (joined
              (portRef IN (instanceRef &_I31))
              (portRef OUT (instanceRef &_I37))
            )
          )
          (net (rename &_Net00015_ "$Net00015_")
            (joined
              (portRef OUT (instanceRef &_I38))
              (portRef PAD (instanceRef &_I40))
              (portRef &_Net00015_)
            )
          )
          (net (rename &_Net00016_ "$Net00016_")
            (joined
              (portRef PAD (instanceRef &_I39))
              (portRef IN (instanceRef &_I41))
              (portRef &_Net00016_)
            )
          )
          (net (rename &_Net00017_ "$Net00017_")
            (joined
              (portRef IN (instanceRef &_I38))
              (portRef OUT (instanceRef &_I41))
            )
          )
          (net (rename &_Net00003_ "$Net00003_")
            (joined
              (portRef OUT (instanceRef &_I42))
              (portRef PAD (instanceRef &_I43))
              (portRef &_Net00003_)
            )
          )
          (net (rename &_Net00004_ "$Net00004_")
            (joined
              (portRef PAD (instanceRef &_I44))
              (portRef IN (instanceRef &_I45))
              (portRef &_Net00004_)
            )
          )
          (net (rename &_Net00006_ "$Net00006_")
            (joined
              (portRef PAD (instanceRef &_I46))
              (portRef IN (instanceRef &_I48))
              (portRef &_Net00006_)
            )
          )
          (net (rename &_Net00008_ "$Net00008_")
            (joined
              (portRef OUT (instanceRef &_I49))
              (portRef PAD (instanceRef &_I51))
              (portRef &_Net00008_)
            )
          )
          (net (rename &_Net00009_ "$Net00009_")
            (joined
              (portRef OUT (instanceRef &_I47))
              (portRef PAD (instanceRef &_I52))
              (portRef &_Net00009_)
            )
          )
          (net (rename &_Net00018_ "$Net00018_")
            (joined
              (portRef OUT (instanceRef &_I45))
              (portRef IN (instanceRef &_I47))
            )
          )
          (net (rename &_Net00019_ "$Net00019_")
            (joined
              (portRef IN (instanceRef &_I42))
              (portRef OUT (instanceRef &_I48))
            )
          )
          (net (rename &_Net00020_ "$Net00020_")
            (joined
              (portRef PAD (instanceRef &_I50))
              (portRef IN (instanceRef &_I53))
              (portRef &_Net00020_)
            )
          )
          (net (rename &_Net00021_ "$Net00021_")
            (joined
              (portRef IN (instanceRef &_I49))
              (portRef OUT (instanceRef &_I53))
            )
          )
          (net (rename &_Net00022_ "$Net00022_")
            (joined
              (portRef OUT (instanceRef &_I54))
              (portRef PAD (instanceRef &_I56))
              (portRef &_Net00022_)
            )
          )
          (net (rename &_Net00023_ "$Net00023_")
            (joined
              (portRef PAD (instanceRef &_I55))
              (portRef IN (instanceRef &_I57))
              (portRef &_Net00023_)
            )
          )
          (net (rename &_Net00024_ "$Net00024_")
            (joined
              (portRef IN (instanceRef &_I54))
              (portRef OUT (instanceRef &_I57))
            )
          )
          (net GR
            (joined
              (portRef PAD (instanceRef GR_PAD))
            )
            (property INITSTATE (string "1") (owner "Xilinx"))
            (property GLOBAL (boolean (true)) (owner "Xilinx"))
          )
        )
    ))
  )
  (design prova
    (cellRef prova
      (libraryRef prova_lib))
  )
)
