(edif  provaxil 
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap
    (keywordLevel 0))
  (status
    (written (timestamp 2001 3 30 20 38 0)
      (author "ALDEC")
      (program "Aldec's EDIF Netlist Generator"
        (version "2.5.5.75"))))
  (library Active_lib 
    (edifLevel 0)
    (technology
      (numberDefinition
        (scale 1 (E 1 -11) (unit TIME))))
      (cell  FDCE 
        (cellType generic)
        (view net (viewType netlist )
          (interface
            (port  C 
              (direction INPUT))
            (port  CE 
              (direction INPUT))
            (port  CLR 
              (direction INPUT))
            (port  D 
              (direction INPUT))
            (port  Q 
              (direction OUTPUT))
            (property  DEVICE (string "DFF"))
            (property  LEVEL (string "XILINX"))
            (property  LIBVER (string "2.0.0")))))
      (cell  IBUF 
        (cellType generic)
        (view net (viewType netlist )
          (interface
            (port  I 
              (direction INPUT))
            (port  O 
              (direction OUTPUT))
            (property  DEVICE (string "IBUF"))
            (property  LEVEL (string "XILINX"))
            (property  LIBVER (string "2.0.0")))))
      (cell  INV 
        (cellType generic)
        (view net (viewType netlist )
          (interface
            (port  I 
              (direction INPUT))
            (port  O 
              (direction OUTPUT))
            (property  DEVICE (string "INV"))
            (property  LEVEL (string "XILINX"))
            (property  LIBVER (string "2.0.0")))))
      (cell  IPAD 
        (cellType generic)
        (view net (viewType netlist )
          (interface
            (port  IPAD 
              (direction OUTPUT))
            (property  EXT (string "IPAD"))
            (property  LEVEL (string "XILINX"))
            (property  LIBVER (string "2.0.0")))))
      (cell  OBUF 
        (cellType generic)
        (view net (viewType netlist )
          (interface
            (port  I 
              (direction INPUT))
            (port  O 
              (direction OUTPUT))
            (property  DEVICE (string "OBUF"))
            (property  LEVEL (string "XILINX"))
            (property  LIBVER (string "2.0.0")))))
      (cell  OPAD 
        (cellType generic)
        (view net (viewType netlist )
          (interface
            (port  OPAD 
              (direction INPUT))
            (property  EXT (string "OPAD"))
            (property  LEVEL (string "XILINX"))
            (property  LIBVER (string "2.0.0")))))
      (cell  provaxil 
        (cellType generic)
        (view net (viewType netlist )
          (interface)
          (contents
            (instance (rename  &_I10 "$I10")
              (viewRef net 
                (cellRef FDCE )))
            (instance (rename  &_I11 "$I11")
              (viewRef net 
                (cellRef INV ))
              (portinstance  O 
                (property  PARAM (string "INV"))))
            (instance (rename  &_I17 "$I17")
              (viewRef net 
                (cellRef OPAD ))
              (property  EXT (string "OPAD"))
              (property  LOC (string "P2")))
            (instance (rename  &_I18 "$I18")
              (viewRef net 
                (cellRef OPAD ))
              (property  EXT (string "OPAD"))
              (property  LOC (string "P4")))
            (instance (rename  &_I19 "$I19")
              (viewRef net 
                (cellRef OPAD ))
              (property  EXT (string "OPAD"))
              (property  LOC (string "P65")))
            (instance (rename  &_I2 "$I2")
              (viewRef net 
                (cellRef IPAD ))
              (property  EXT (string "IPAD"))
              (property  LOC (string "P56")))
            (instance (rename  &_I20 "$I20")
              (viewRef net 
                (cellRef IPAD ))
              (property  EXT (string "IPAD"))
              (property  LOC (string "P58")))
            (instance (rename  &_I21 "$I21")
              (viewRef net 
                (cellRef IBUF )))
            (instance (rename  &_I23 "$I23")
              (viewRef net 
                (cellRef OPAD ))
              (property  EXT (string "OPAD"))
              (property  LOC (string "P67")))
            (instance (rename  &_I24 "$I24")
              (viewRef net 
                (cellRef OBUF )))
            (instance (rename  &_I25 "$I25")
              (viewRef net 
                (cellRef OBUF )))
            (instance (rename  &_I26 "$I26")
              (viewRef net 
                (cellRef OBUF )))
            (instance (rename  &_I27 "$I27")
              (viewRef net 
                (cellRef OBUF )))
            (instance (rename  &_I28 "$I28")
              (viewRef net 
                (cellRef FDCE )))
            (instance (rename  &_I29 "$I29")
              (viewRef net 
                (cellRef FDCE )))
            (instance (rename  &_I3 "$I3")
              (viewRef net 
                (cellRef IPAD ))
              (property  EXT (string "IPAD"))
              (property  LOC (string "P55")))
            (instance (rename  &_I30 "$I30")
              (viewRef net 
                (cellRef FDCE )))
            (instance (rename  &_I31 "$I31")
              (viewRef net 
                (cellRef FDCE )))
            (instance (rename  &_I32 "$I32")
              (viewRef net 
                (cellRef OPAD ))
              (property  EXT (string "OPAD"))
              (property  LOC (string "P6")))
            (instance (rename  &_I33 "$I33")
              (viewRef net 
                (cellRef OBUF )))
            (instance (rename  &_I34 "$I34")
              (viewRef net 
                (cellRef OPAD ))
              (property  EXT (string "OPAD"))
              (property  LOC (string "P8")))
            (instance (rename  &_I35 "$I35")
              (viewRef net 
                (cellRef OBUF )))
            (instance (rename  &_I36 "$I36")
              (viewRef net 
                (cellRef OPAD ))
              (property  EXT (string "OPAD"))
              (property  LOC (string "P9")))
            (instance (rename  &_I37 "$I37")
              (viewRef net 
                (cellRef OBUF )))
            (instance (rename  &_I38 "$I38")
              (viewRef net 
                (cellRef OPAD ))
              (property  EXT (string "OPAD"))
              (property  LOC (string "P7")))
            (instance (rename  &_I39 "$I39")
              (viewRef net 
                (cellRef OBUF )))
            (instance (rename  &_I5 "$I5")
              (viewRef net 
                (cellRef IBUF )))
            (instance (rename  &_I6 "$I6")
              (viewRef net 
                (cellRef IBUF )))
            (instance (rename  &_I7 "$I7")
              (viewRef net 
                (cellRef FDCE )))
            (instance (rename  &_I8 "$I8")
              (viewRef net 
                (cellRef FDCE )))
            (instance (rename  &_I9 "$I9")
              (viewRef net 
                (cellRef FDCE )))
            (net (rename  &_Net00015_ "$Net00015_")
              (joined 
                (portRef  O 
                  (instanceRef  &_I11))
                (portRef  D 
                  (instanceRef  &_I7))))
            (net (rename  &_Net00002_ "$Net00002_")
              (joined 
                (portRef  IPAD 
                  (instanceRef  &_I2))
                (portRef  I 
                  (instanceRef  &_I5))))
            (net (rename  &_Net00003_ "$Net00003_")
              (joined 
                (portRef  IPAD 
                  (instanceRef  &_I3))
                (portRef  I 
                  (instanceRef  &_I6))))
            (net  CE 
              (joined 
                (portRef  O 
                  (instanceRef  &_I21))
                (portRef  CE 
                  (instanceRef  &_I7))
                (portRef  CE 
                  (instanceRef  &_I8))
                (portRef  CE 
                  (instanceRef  &_I9))
                (portRef  CE 
                  (instanceRef  &_I10))
                (portRef  CE 
                  (instanceRef  &_I28))
                (portRef  CE 
                  (instanceRef  &_I29))
                (portRef  CE 
                  (instanceRef  &_I30))
                (portRef  CE 
                  (instanceRef  &_I31))))
            (net  CK 
              (joined 
                (portRef  O 
                  (instanceRef  &_I5))
                (portRef  C 
                  (instanceRef  &_I9))
                (portRef  C 
                  (instanceRef  &_I10))
                (portRef  C 
                  (instanceRef  &_I8))
                (portRef  C 
                  (instanceRef  &_I7))
                (portRef  C 
                  (instanceRef  &_I28))
                (portRef  C 
                  (instanceRef  &_I29))
                (portRef  C 
                  (instanceRef  &_I30))
                (portRef  C 
                  (instanceRef  &_I31))))
            (net  CLR 
              (joined 
                (portRef  O 
                  (instanceRef  &_I6))
                (portRef  CLR 
                  (instanceRef  &_I10))
                (portRef  CLR 
                  (instanceRef  &_I8))
                (portRef  CLR 
                  (instanceRef  &_I7))
                (portRef  CLR 
                  (instanceRef  &_I28))
                (portRef  CLR 
                  (instanceRef  &_I29))
                (portRef  CLR 
                  (instanceRef  &_I30))
                (portRef  CLR 
                  (instanceRef  &_I31))))
            (net  Q01 
              (joined 
                (portRef  Q 
                  (instanceRef  &_I7))
                (portRef  I 
                  (instanceRef  &_I24))
                (portRef  D 
                  (instanceRef  &_I8))))
            (net (rename  &_Net00008_ "$Net00008_")
              (joined 
                (portRef  O 
                  (instanceRef  &_I24))
                (portRef  OPAD 
                  (instanceRef  &_I19))))
            (net (rename  &_Net00001_ "$Net00001_")
              (joined 
                (portRef  IPAD 
                  (instanceRef  &_I20))
                (portRef  I 
                  (instanceRef  &_I21))))
            (net (rename  &_Net00010_ "$Net00010_")
              (joined 
                (portRef  O 
                  (instanceRef  &_I26))
                (portRef  OPAD 
                  (instanceRef  &_I17))))
            (net (rename  &_Net00011_ "$Net00011_")
              (joined 
                (portRef  O 
                  (instanceRef  &_I27))
                (portRef  OPAD 
                  (instanceRef  &_I18))))
            (net  Q02 
              (joined 
                (portRef  Q 
                  (instanceRef  &_I8))
                (portRef  D 
                  (instanceRef  &_I9))
                (portRef  I 
                  (instanceRef  &_I25))))
            (net  Q03 
              (joined 
                (portRef  Q 
                  (instanceRef  &_I9))
                (portRef  I 
                  (instanceRef  &_I26))
                (portRef  D 
                  (instanceRef  &_I10))))
            (net  Q04 
              (joined 
                (portRef  Q 
                  (instanceRef  &_I10))
                (portRef  I 
                  (instanceRef  &_I27))
                (portRef  D 
                  (instanceRef  &_I28))))
            (net (rename  &_Net00009_ "$Net00009_")
              (joined 
                (portRef  O 
                  (instanceRef  &_I25))
                (portRef  OPAD 
                  (instanceRef  &_I23))))
            (net (rename  &_Net00017_ "$Net00017_")
              (joined 
                (portRef  O 
                  (instanceRef  &_I33))
                (portRef  OPAD 
                  (instanceRef  &_I32))))
            (net (rename  &_Net00022_ "$Net00022_")
              (joined 
                (portRef  O 
                  (instanceRef  &_I37))
                (portRef  OPAD 
                  (instanceRef  &_I36))))
            (net (rename  &_Net00023_ "$Net00023_")
              (joined 
                (portRef  O 
                  (instanceRef  &_I35))
                (portRef  OPAD 
                  (instanceRef  &_I34))))
            (net (rename  &_Net00016_ "$Net00016_")
              (joined 
                (portRef  O 
                  (instanceRef  &_I39))
                (portRef  OPAD 
                  (instanceRef  &_I38))))
            (net  Q05 
              (joined 
                (portRef  Q 
                  (instanceRef  &_I28))
                (portRef  I 
                  (instanceRef  &_I33))
                (portRef  D 
                  (instanceRef  &_I29))))
            (net  Q06 
              (joined 
                (portRef  Q 
                  (instanceRef  &_I29))
                (portRef  I 
                  (instanceRef  &_I35))
                (portRef  D 
                  (instanceRef  &_I30))))
            (net  Q07 
              (joined 
                (portRef  Q 
                  (instanceRef  &_I30))
                (portRef  I 
                  (instanceRef  &_I37))
                (portRef  D 
                  (instanceRef  &_I31))))
            (net  Q08 
              (joined 
                (portRef  Q 
                  (instanceRef  &_I31))
                (portRef  I 
                  (instanceRef  &_I39))
                (portRef  I 
                  (instanceRef  &_I11))))))))
  (design  provaxil 
    (cellRef provaxil 
      (libraryRef Active_lib ))
        (property PART (string "3020A-7-PC68"))))
